.taskList {
    margin-top: 4rem;
    font-size: var(--font-medium);
}

.taskList > header {
    display: flex;
    justify-content: space-between;
}

.totalTasksInfo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.totalTasksInfo > strong {
    color: var(--blue);
}

.doneTasksInfo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.doneTasksInfo > strong {
    color: var(--purple-dark);
}

.taskList header span {
    padding: 0.125rem 0.5rem;
    border-radius: 99rem;

    font-size: var(--font-small);
    font-weight: 600;

    background-color: var(--gray-400);
    color: var(--gray-200);
}

.taskList p {
    flex: 1;
}

.emptyTaskList {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1.5rem;
    padding: 4rem 1.5rem;

    color: var(--gray-300);

    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.emptyTaskList > svg {
    color: var(--gray-400);
}